<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>Estudos</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>api_version</param-name>
    <param-value>1.0.0</param-value>
  </context-param>
  <context-param>
    <param-name>powered_by</param-name>
    <param-value>josedoce</param-value>
  </context-param>
  <context-param>
    <param-name>github</param-name>
    <param-value>https://github.com/josedoce</param-value>
  </context-param>
  <servlet>
    <description></description>
    <display-name>Main</display-name>
    <servlet-name>Main</servlet-name>
    <servlet-class>app.TratandoServletContext</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Main</servlet-name>
    <url-pattern>/TratandoServletContext</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TratandoServletConfig</display-name>
    <servlet-name>TratandoServletConfig</servlet-name>
    <servlet-class>app.TratandoServletConfig</servlet-class>
    <init-param>
      <param-name>modo</param-name>
      <param-value>administrativo</param-value>
    </init-param>
    <init-param>
      <param-name>setor</param-name>
      <param-value>2</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>TratandoServletConfig</servlet-name>
    <url-pattern>/TratandoServletConfig</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AttributeServlet</display-name>
    <servlet-name>AttributeServlet</servlet-name>
    <servlet-class>app.AttributeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AttributeServlet</servlet-name>
    <url-pattern>/AttributeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AttributeServlet2</display-name>
    <servlet-name>AttributeServlet2</servlet-name>
    <servlet-class>app.AttributeServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AttributeServlet2</servlet-name>
    <url-pattern>/AttributeServlet2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CookieServlet</display-name>
    <servlet-name>CookieServlet</servlet-name>
    <servlet-class>app.session.usandocookie.CookieServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CookieServlet</servlet-name>
    <url-pattern>/CookieServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetCookieServlet</display-name>
    <servlet-name>GetCookieServlet</servlet-name>
    <servlet-class>app.session.usandocookie.GetCookieServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetCookieServlet</servlet-name>
    <url-pattern>/GetCookieServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteCookieServlet</display-name>
    <servlet-name>DeleteCookieServlet</servlet-name>
    <servlet-class>app.session.usandocookie.DeleteCookieServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCookieServlet</servlet-name>
    <url-pattern>/DeleteCookieServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExemploUsandoCookieServlet</display-name>
    <servlet-name>ExemploUsandoCookieServlet</servlet-name>
    <servlet-class>app.session.usandocookie.ExemploUsandoCookieServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExemploUsandoCookieServlet</servlet-name>
    <url-pattern>/ExemploUsandoCookieServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HttpSessionServlet</display-name>
    <servlet-name>HttpSessionServlet</servlet-name>
    <servlet-class>app.session.usandohttpsession.HttpSessionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HttpSessionServlet</servlet-name>
    <url-pattern>/HttpSessionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutHttpSessionServlet</display-name>
    <servlet-name>LogoutHttpSessionServlet</servlet-name>
    <servlet-class>app.session.usandohttpsession.LogoutHttpSessionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutHttpSessionServlet</servlet-name>
    <url-pattern>/LogoutHttpSessionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FormSessionServlet</display-name>
    <servlet-name>FormSessionServlet</servlet-name>
    <servlet-class>app.session.usandoformulario.FormSessionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FormSessionServlet</servlet-name>
    <url-pattern>/FormSessionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>FormSessionServlet2</display-name>
    <servlet-name>FormSessionServlet2</servlet-name>
    <servlet-class>app.session.usandoformulario.FormSessionServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FormSessionServlet2</servlet-name>
    <url-pattern>/FormSessionServlet2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UrlSessionServlet</display-name>
    <servlet-name>UrlSessionServlet</servlet-name>
    <servlet-class>app.session.usandourl.UrlSessionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UrlSessionServlet</servlet-name>
    <url-pattern>/UrlSessionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UrlSessionServlet2</display-name>
    <servlet-name>UrlSessionServlet2</servlet-name>
    <servlet-class>app.session.usandourl.UrlSessionServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UrlSessionServlet2</servlet-name>
    <url-pattern>/UrlSessionServlet2</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>app.events.servletcontextevent.MeuOuvinte</listener-class>
  </listener>
  <listener>
    <listener-class>app.events.httpsessionevent.MeuOuvinte</listener-class>
  </listener>
  <listener>
    <listener-class>app.events.servletrequestevent.MeuOuvinte</listener-class>
  </listener>
  <filter>
    <display-name>IdadeFilter</display-name>
    <filter-name>IdadeFilter</filter-name>
    <filter-class>app.filters.IdadeFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>IdadeFilter</filter-name>
    <url-pattern>/TestandoFilterServlet</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>TestandoFilterServlet</display-name>
    <servlet-name>TestandoFilterServlet</servlet-name>
    <servlet-class>app.filters.TestandoFilterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestandoFilterServlet</servlet-name>
    <url-pattern>/TestandoFilterServlet</url-pattern>
  </servlet-mapping>
  <filter>
    <display-name>EmConstrucaoFilter</display-name>
    <filter-name>EmConstrucaoFilter</filter-name>
    <filter-class>app.filters.EmConstrucaoFilter</filter-class>
    <init-param>
      <param-name>status</param-name>
      <param-value>construction</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>EmConstrucaoFilter</filter-name>
    <url-pattern>/TestandoFilterConfigServlet</url-pattern>
  </filter-mapping>
  <servlet>
    <description></description>
    <display-name>TestandoFilterConfigServlet</display-name>
    <servlet-name>TestandoFilterConfigServlet</servlet-name>
    <servlet-class>app.filters.TestandoFilterConfigServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestandoFilterConfigServlet</servlet-name>
    <url-pattern>/TestandoFilterConfigServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EnvioDeArquivoServlet</display-name>
    <servlet-name>EnvioDeArquivoServlet</servlet-name>
    <servlet-class>app.inputstream.EnvioDeArquivoServlet</servlet-class>
    <multipart-config>
      <location>/home/josedoce/Pictures/estudos</location>
      <max-file-size>10485760</max-file-size>
      <max-request-size>104857600</max-request-size>
      <file-size-threshold>1048576</file-size-threshold>
    </multipart-config>
  </servlet>
  <servlet-mapping>
    <servlet-name>EnvioDeArquivoServlet</servlet-name>
    <url-pattern>/EnvioDeArquivoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DownloadDeArquivoServlet</display-name>
    <servlet-name>DownloadDeArquivoServlet</servlet-name>
    <servlet-class>app.inputstream.DownloadDeArquivoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadDeArquivoServlet</servlet-name>
    <url-pattern>/DownloadDeArquivoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EnvioDeEmailServlet</display-name>
    <servlet-name>EnvioDeEmailServlet</servlet-name>
    <servlet-class>app.email.EnvioDeEmailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EnvioDeEmailServlet</servlet-name>
    <url-pattern>/EnvioDeEmailServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CriandoPdfServlet</display-name>
    <servlet-name>CriandoPdfServlet</servlet-name>
    <servlet-class>app.pdf.CriandoPdfServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CriandoPdfServlet</servlet-name>
    <url-pattern>/CriandoPdfServlet</url-pattern>
  </servlet-mapping>
</web-app>